body{
    font-family: 'Poppins-Medium';
}

.navbar-expand-lg{
    transition: 500ms ease;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 2px 10px 0px #ccc;
    min-height: 60px;
}

.navbar-expand-lg.scrolled{
    background: #fff;
}

a.navbar-brand.logo_fnt_cs {
    font-size: 24px;
}

a.navbar-brand.logo_fnt_cs span {
    color: #090909;
    font-weight: bold;
    font-size: 24px;
}

.cstm_nvbar_sec.collapse.navbar-collapse ul.navbar-nav.ml-auto li.nav-item a.nav-link {
    color: #090909;
    padding: 0px 15px;
}

li.nav-item.active_link a {
    color: #007bff !important;
}

.hero_sec_main {
    background: url(../../Assets/hero-sec-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p.hero_s_h {
    padding: 100px 0px 0px;
    font-size: 70px;
    text-transform: capitalize;
    font-family: 'Poppins-Bold';
    line-height: 90px;
    color: rgb(244, 244, 244);
}

.ex_btn {
    margin-bottom: 100px;
    background-color: transparent;
    border: 1px solid #222;
    transition: .3s ease;
}

.ex_btn:hover {
    background-color: #222222;
    color: #ffffff;
}



.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter_btn_sec{
    font-family: 'Roboto-Medium';
}

.filter-button
{
    font-size: 14px;
    border: 1px solid #047dff;
    border-radius: 5px;
    text-align: center;
    color: #047dff;
    transition: .23s ease;
    padding: 5px 10px 5px 5px;
    margin: 2px 5px 30px 0px;
}

.filter-button:hover
{
    font-size: 14px;
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
}

button.btn_filter.btn.btn-default.filter-button:focus {
    font-size: 14px;
    border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
}

.btn-default:active .filter-button:active
{
    background-color: #42B32F !important;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.container.cstm_div_all_sec {
    padding: 60px 0px 30px 0px;
}

h1.all_hd_css.text-center {
    color: #208bff;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

h1.all_hd_css.text-center:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background: #292929;
    bottom: -5px;
    margin: auto;
    /* left: -128px; */
    /* right: 0; */
    border-radius: 15px;
}

/* h1.gallery_title.text-center:after {
    position: absolute;
    height: 3px;
    width: 88px;
    background: 0 0;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 12px solid #ff3d57;
    border-right: 12px solid #ff3d57;
    border-radius: 15px;
} */

.books_flt_sec.clearfix {
    border: 1px solid #cccccc;
    border-radius: 15px;
    background: #ffffff;
    padding: 8px;
}

.books_flt_sec.clearfix .book_cvr img {
    width: 100%;
}

.book_nm_sec h3.bk_nm {
    font-size: 14px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    min-height: 44px;
}

p.bk_at_nm {
    text-align: center;
    font-size: 12px;
    color: #208bff;
    min-height: 18px;
    font-family: 'Roboto-Medium';
}

.book_prc.text-center h3 {
    font-size: 16px;
    font-weight: 600;
    color: #037cff;
    min-height: 20px;
}

.vw_cart_sec.btn-group.d-block.text-center.mx-auto {
    min-height: 30px;
}

.vw_cart_sec.btn-group button {
    margin-right: 15px;
    font-size: 14px;
}

button.btn.btn-success.qk_vw_btn {
    margin-right: 0px;
}

button.btn.btn-warning.crt_btn {
    margin-right: 0px;
}

.vw_cart_sec.btn-group.d-block.text-center.mx-auto button {
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    color: #ffffff;
    background: #090909;
    border: none;
    transition: .3s all;
}

.vw_cart_sec.btn-group.d-block.text-center.mx-auto button:hover {
    background: #047dff;
}

p.bk_desc {
    font-size: 12px;
    font-family: 'Roboto-Medium';
    color: #444;
    line-height: 20px;
}

.modal-header {
    background: #090909;
    color: #ffffff;
}

h5#exampleModalLabel {
    font-size: 18px;
}

button.close {
    color: #ffffff;
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.modal-footer.text-center {
    background-color: #047dff;
}

.container.res_sec_bks {
    background-color: #FFF6F6;
    padding: 50px 0px 60px 0px;
    box-shadow: 1100px 0px 0px #fff6f6, -1100px 0px 0px #fff6f6;
}

.rea_sec .rea_sec_inner {
    border: 1px solid #E3E3E3;
    background-color: #ffffff;
    border-radius: 15px;
    transition: .3s all;
}

.rea_sec .rea_sec_inner img {
    width: 80%;
    margin: 20px auto 20px auto;
    display: block;
}

.rea_sec .rea_sec_inner:hover {
    box-shadow: 0px 0px 6px 4px #eeeeee;
}

.rea_sec .rea_sec_inner h3.r_s_head {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    min-height: 30px;
}

.rea_sec .rea_sec_inner p.r_s_para {
    font-size: 14px;
    padding: 0px 20px 10px 20px;
    color: #444444;
}

.rea_sec.r_s_two .rea_sec_inner img {
    width: 70%;
}

.rea_sec.r_s_three .rea_sec_inner img{
    width: 56%;
}

section.container-fluid.newsletter_sec_main {
    background-image: url('../../Assets/newsletter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0px 60px 0px;
}

.col-lg-6.news_let_left h3 {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}

.col-lg-6.news_let_left h2 {
    font-size: 42px;
    font-weight: bolder;
    color: #222222;
}

.col-lg-6.news_let_right .input-group.mb-3 {
    padding: 50px 0px 0px 0px;
}

.col-lg-6.news_let_right .input-group.mb-3 input.form-control {
    padding: 30px 0px 30px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.col-lg-6.news_let_right .input-group-append button.btn.btn-outline-secondary {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #ced4da;
    background: #208bff;
    color: #ffffff;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0px 0px 0px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #090909 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.container-fluid.features_sec_main {
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
}

.feat_sec_inner.text-center img {
    width: 70px;
}

.feat_sec_inner.text-center  h3.feat_sec_hed {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
    padding: 30px 0px 0px 0px;
}

.feat_sec_inner.text-center p.feat_sec_p {
    font-size: 14px;
    color: #333333;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner a {
    color: #ffffff;
    font-size: 50px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_facebook {
    background-color: #547BBC;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_twitter {
    background-color: #79CCF0;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_tiktok {
    background-color: #FF0050;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_rss {
    background-color: #F9A32C;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_linkedin {
    background-color: #007BB6;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
}

.col-lg-2.col-md-2.col-sm-12.col-xs-12.social_sec_inner.s_s_in_youtube {
    background-color: #EE1C1B;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cnt_inf_foo_sec_inner {
    color: #ffffff;
    padding: 0px 0px 10px 0px;
}

.cnt_inf_foo_sec_inner span {
    vertical-align: top;
    padding-left: 10px;
}

.nav.nav-tabs.nav-fill.login_signup_tabs_sec a.nav-item.nav-link.active {
    background-color: #007bff;
    color: #ffffff;
    border: 0px;
}

.nav.nav-tabs.nav-fill.login_signup_tabs_sec {
    margin-top: 40px;
    margin-bottom: 20px;
}

a.nav-item.nav-link.login_signup_tabs_sec_signup {
    border: 0px;
}

a.nav-item.nav-link.login_signup_tabs_sec_login {
    border: 0px;
    border-bottom: 0px;
}

section.project-tab {
    padding: 70px 0px;
}

.container-fluid.abt_sec_bg_w {
    background-image: url('../../Assets/about-us-bg.jpg');
    padding: 300px 0px 300px 0px;
}

.container.abt_us_top_bg {
    margin-top: -80px;
    background-color: #ffffff;
    border-radius: 1px;
    margin-bottom: 80px;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1 !important;
}

h3.h3_sec_jsj {
    padding-top: 20px;
    font-size: 28px;
    color: #222222;
    font-weight: 600;
}

h4.wht_we_do_sec {
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    color: #222222;
    font-weight: 600;
}

h4.wht_we_do_sec_vision {
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    color: #222222;
    font-weight: 600;
}

h4.wht_we_do_sec_mission {
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    color: #222222;
    font-weight: 600;
}

p.wh_we_do_p {
    font-size: 15px;
    color: #333333;
}

p.wh_we_do_p_vision {
    font-size: 15px;
    color: #333333;
}

p.wh_we_do_p_mission {
    font-size: 15px;
    color: #333333;
}

.container-fluid.abt_sec_bg_w iframe {
    width: 100%;
}